.place__website-link {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__website-link:hover {
    opacity: 0.8;
    transition: 0.2s linear;
}
