@import url(../intro/__list/intro__list.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);
@import url(../intro/__list-span/intro__list-span.css);

.intro {
  max-width: 690px;
  margin-left: 148px;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1279px) {
   
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {

  .intro {
    margin: 88px 24px;
  }
}

@media screen and (max-width: 767px) {

  .intro {
    margin: 64px 16px;
    max-width: 288px;
  }
}