@import url(../place/__image/place__image.css);
@import url(../place/__paragraph/place__paragraph.css);
@import url(../place/__title/place__title.css);
@import url(../place/__website/place__website.css);
@import url(../place/__website-link/place__website-link.css);
@import url(../place/__website-url-heading/place__website-url-heading.css);


.place {
  max-width: 984px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: min-content minmax(min-content, max-content);
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
   
  .place {
    max-width: 928px;
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1023px) {
  
  .place {
    max-width: 720px;
    margin-bottom: 82px;
    margin-top: 0;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  
  .place {
    max-width: 320px;
    margin-bottom: 48px;
    grid-template-columns: minmax(min-content, max-content);
    gap: 0;
  }

  .place:nth-of-type(1) {
    margin-bottom: 84px;
  }

  .place:nth-of-type(2) {
    margin-bottom: 59px;
  }

  .place:nth-of-type(3) {
    margin-bottom: 58px;
  }
  .place:nth-of-type(4) {
    margin-bottom: 83px;
  }
  .place:nth-of-type(5) {
    margin-bottom: 75px;
  }
}



